DISCORD_BOT_TOKEN=PASTE_YOUR_BOT_TOKEN
BOT_PREFIX=!
ADMIN_ROLE_IDS=ROLE_ID_1,ROLE_ID_2
GUILD_ID=YOUR_SERVER_ID
ANNOUNCE_CHANNEL_ID=CHANNEL_ID_FOR_ANNOUNCEMENTS
REPO=Markipler609/VoidClient
HEALTH_BASE=http://x95027pc.beget.tech